Body {
  background-color: lightblue;
}

.header:hover {
  color: darkblue;
}
.text {
  color: purple;
  font-size: 14pt;
  font-family:'Ariel' serif;
}
.header {
  color: darkgray;
  text-align: center;
  font-family: 'Onyx' fantasy ;
  font-size: 70pt;
}
#windsurf {
  color: darkblue;
  font-size: 14pt;
  font-family: serif;
}

.div1 {
  display: inline-block;
}

.div2 {
  display: inline-block;
}

#second {
  color: green;
}
